# Node / Expo
node_modules/
.expo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android / Gradle
.gradle/
build/
app/build/
local.properties
*.iml
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
